/* ボタン */
#button {
    width: 300px;
    height: 70px;
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    top: 20px;
    left: 490px;
}
#button:hover {
	background-color: #31c8aa;
}
/* ボタン end */

/* リスト関係 */
#ul_list{
    margin-top:20px;
    margin-left: 0px;
}

#ul_list li{
    margin-top:5px;
}
#ul_list li:nth-child(2n-1){
    margin-top:20px;
}

#ul_list li select:nth-child(2){
    margin-left:20px;
}

#ul_list li:nth-child(7){
    margin-top: -53px;
    margin-left: 200px;
}
#ul_list li:nth-child(8){
    margin-left: 200px;
}

#ul_list li:nth-child(9){
    margin-top: -53px;
    margin-left: 400px;
}
#ul_list li:nth-child(10){
    margin-left: 400px;
}
/* リストend */


/* sub_area */
#sub_area{
    width: 1280px;
    height: 490px;
    background: #f5f5f5;
    display: block;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
/* sub_area end */

#pro_table{
    margin-top: 15px;
}

.number{
    text-align: center;
}

.input_right{
    text-align: right;
}


#add{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#add_btn{
    width: 100%;
}

.amount{
    font-size: 18px;
}

textarea {  
    width: 400px;
    height: 100px;
    resize: none;  
}  

.sub_ul{
    margin-top:20px;
}

#amount_table{
    margin-top: -110px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 20px;
}

#amount_table th{
    text-align: right;
}

#amount_table td{
    text-align: right;
}

#buttons{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
