@charset "utf-8";
h2 {
    margin-top: 20px;
    margin-left: 10px;
}

.invoicetitle {
    clear: both;
    margin-top: 100px;
    margin-left: 10px;
}


/*検索フォーム*/

form {
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    height: 100px;
}

p {
    width: 100px;
    height: 26%;
    border: 1px #aaaaaa solid;
    background-color: #f5f5f5;
    padding-top: 3px;
    text-align: center;
    float: left;
}

p:nth-of-type(2) {
    margin-left: 20px;
}

input {
    width: 200px;
    float: left;
}

input[type="submit"] {
    margin-left: 100px;
}





/*請求書項目*/

.invoicelist {
    width: 30%;
    height: 20px;
    margin-left: 10px;
    padding: 0;
    float: left;
}

dl {
    width: 30%;
    border: 1px #aaaaaa solid;
    background-color: #f5f5f5;
    float: left;
    text-align: center;
}

dd {
    width: 70%;
    border: 1px #aaaaaa solid;
    padding-left: 8px;
    float: left;
}


/*請求書テーブル*/

table {
    width: 93.5%;
    margin: 10px;
}

tr:first-child {
    background-color: #f5f5f5;
}

td {
    border: 1px #aaaaaa solid;
    text-align: center;
}


/*ボタン配置*/

input[type="button"] {
    position: absolute;
    left: 40%;
    width: 200px;
    margin: auto 0;
}

.contents p {
  width: 300px;
  height: 35px;
  margin-left: 10px;
}

.paging p {
  width: 300px;
  height: 35px;
  position: absolute;
  left: 33%;
}
